---
layout: default
title: Photos
description: My photographic scrapbook
---

<h3>Photos</h3>

<p class="info">Prefer a more structured overview? Have a look at my
<a href="/photos/albums">albums</a>.</p>

<p>This page serves as my <em>photograhic scrapbook</em>, not really as a
portfolio. Whenever I find something in the archives that is of particular
interest to me, I add it to this page. It is rather varied. The same photos can
be found on my Flickr and Instagram pages as well.</p>

{% if site.categories.photos and site.categories.photos.size != 0 %}
  <div id="photo-grid">
    {% for post in site.categories.photos %}
      <a href="{{ post.url }}">
        <img src="/assets/img/photos/{{ post.photo }}" class="photo photo-grid-img"
             alt="{{ post.description }}" title="{{ post.description }}"
             loading="lazy">
      </a>
    {% endfor %}
  </div>
{% else %}
  <p class="info">No photos to display.</p>
{% endif %}
