---
layout: default
title: Albums
description: My photographic scrapbook, organized into collections
---

<h3>Albums</h3>

<p>In order to maintain an overview of all the photos I publish on here, I
loosely organized them into albums.</p>
<p>I update the albums you see here whenever I upload new photos.</p>

<div id="photo-grid">
  {% for page in site.pages %}
    {% if page.layout == "album" %}
      <div class="album-grid-item">
        <a href="{{ page.url }}">
          <img src="/assets/img/album-thumbs/{{ page.photo }}" class="photo" alt="{{ page.description }}" title="{{ page.description }}"><br>
          {{ page.title }}
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
