---
layout: default
title: Home
description: Welcome to the homepage of Maximilian Götz
gallery:
  - cold-winter-day.jpg
  - deterioration-lithed.jpg
  - rodenberg-alm.jpg
  - locked-lithed.jpg
  - old-world.jpg
albums:
  -
    title: Details
    id: details
    photo: locked-lithed.jpg
  -
    title: Landscapes
    id: landscapes
    photo: rodenberg-alm.jpg
---

<div id="home-gallery-cont">
  <section id="home-gallery">
    {% for photo in page.gallery %}
      <img class="fade-image" src="/assets/img/photos/{{ photo }}" alt="Photo">
    {% endfor %}
  </section>
</div>

<div class="album-grid">
  {% for album in page.albums %}
    <a href="/albums/{{ album.id }}" class="album-grid-item">
      <img src="/assets/img/photos/{{ album.photo }}" alt="{{ album.title }}">
      <p>{{ album.title }}</p>
    </a>
  {% endfor %}
</div>
