body {
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
               Times New Roman, serif;
  font-style: italic;
  color: #343f50;
}

#main {
  margin: 0 auto;
  max-width: 800px;
}

h1,
h2 {
  text-align: center;
  letter-spacing: 0.2em;
}

h1 {
  font-variant: small-caps;
}

h2 {
  color: #8596b0;
  font-size: 1.2em;
}

hr {
  border: 1px solid #d1d7e1;
  margin-top: 2em;
}

footer {
  text-align: center;
}
