:root {
  --black: #343f50;
  --dark-blue: #5b6f8d;
  --white: #ffffff;
  --gray: #fffdfa;

  --font-serif: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
                Times New Roman, serif;
}

html,
body {
  font-family: var(--font-serif);
  color: var(--black);
  padding: 5px;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

header h1 a:link,
header h1 a:visited {
  color: var(--black);
  text-decoration: none;
}

footer {
  text-align: center;
  opacity: 50%;
}

a:link,
a:visited {
  color: var(--dark-blue);
}

ul {
  list-style-type: square;
  color: var(--dark-blue);
}

a[href^="http://"]:not([href*="goetz.pro"]):after,
a[href^="https://"]:not([href*="goetz.pro"]):after {
  content: url("/assets/img/external.png");
  vertical-align: unset;
  padding-left: 2px;
  vertical-align: middle;
}

hr {
  opacity: 50%;
  margin-top: -1em;
  margin-bottom: 1em;
}

.txt-img {
  float: right;
  max-width: 100%;
}

.txt-img-2 {
  float: left;
  max-width: 10%;
  padding-right: 1em;
}

/*******************************************************************************
 Homepage
*******************************************************************************/

.gallery {
  text-align: center;
}

#gallery-slide {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#gallery-slide.hidden {
  opacity: 0;
}

#gallery-img {
  max-width: 100%;
  max-height: 60vh;
}

.album-grid-item-frame {
  background: var(--gray);
  border: 4px solid var(--black);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.album-grid-item-frame img {
  max-width: 100%;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
