:root {
  --black: #343f50;
  --dark-blue: #5b6f8d;
  --white: #ffffff;
  --gray: #fffdfa;

  --font-serif: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
                Times New Roman, serif;
}

html,
body {
  font-family: var(--font-serif);
  color: var(--black);
  padding: 5px;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

header h1 a:link,
header h1 a:visited {
  color: var(--black);
  text-decoration: none;
}

footer {
  text-align: center;
  opacity: 50%;
}

a:link,
a:visited {
  color: var(--dark-blue);
}

a[href^="http://"]:not([href*="goetz.pro"]):after,
a[href^="https://"]:not([href*="goetz.pro"]):after {
  content: url("/assets/img/external.png");
  vertical-align: unset;
  padding-left: 2px;
  vertical-align: middle;
}

hr {
  opacity: 50%;
  margin-top: -1em;
  margin-bottom: 1em;
}

.txt-img {
  float: right;
  max-width: 100%;
}

.txt-img-2 {
  float: left;
  max-width: 10%;
  padding-right: 1em;
}

/*******************************************************************************
 Homepage
*******************************************************************************/

#home-gallery {
  width: 90%;
  max-width: 350px;
  aspect-ratio: 5 / 4;
  overflow: hidden;
  position: relative;
  border: 15px solid var(--white);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

#home-gallery-cont {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-image.active {
  opacity: 1;
}

/*******************************************************************************
 Album Grid
*******************************************************************************/

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  padding: 1rem;
  justify-items: center;
}

.album-grid-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.album-grid-item:hover {
  transform: translateY(-5px);
}

.album-grid-item a:link,
.album-grid-item a:visited {
  text-decoration: none;
  color: var(--black);
}

.album-grid-item-frame {
  background: var(--gray);
  border: 4px solid var(--black);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.album-grid-item-frame img {
  max-width: 100%;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.album-grid-item-caption {
  text-align: center;
}

/*******************************************************************************
 Fullscreen Photo Viewer
*******************************************************************************/

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fullscreen.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.fullscreen-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
}

#fullscreen-img {
  max-width: 70%;
  max-height: 70%;
  margin-bottom: 10px;
  object-fit: contain;
  border: 10px solid white;
}

#fullscreen-caption {
  color: var(--white);
  margin-top: 5px;
  font-size: 20px;
}

#close-btn {
  position: absolute;
  top: -36px;
  right: 5px;
  color: var(--white);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 36px;
  text-align: center;
  background: none;
}

.nav-btn {
  background: none;
  position: absolute;
  top: 50%;
  color: var(--white);
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  transform: translateY(-50%);
}

#prev-btn {
  left: -20px;
}

#next-btn {
  right: -20px;
}

@media (max-width: 768px) {
  #home-gallery {
    width: 100%;
    max-width: none;
  }

  .album-grid {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}

/* iPhone-specific alignment issues "hack"; TODO: android? */
@media only screen
and (max-width: 450px)
and (-webkit-device-pixel-ratio: 3) {
  #close-btn {
    top: -40px;
    right: -10px;
  }

  #next-btn {
    right: 5px;
  }
}
