h3 {
  margin-top: 5rem;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.grid div {
  width: 15em;
  object-fit: cover;
}

.grid div.wide {
  width: 35em;
}

@media (max-width: 600px) {
  h3 {
    margin-top: 1.5rem;
  }

  .grid {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  .grid div,
  .grid div.wide {
    width: auto;
    margin: 2rem auto;
  }
}
