---
layout: default
---

<h2>{{ page.title | xml_escape }}</h2>

<div id="fullscreen-view" class="fullscreen">
  <div class="fullscreen-content">
    <button id="close-btn">&#10799;</button>
    <button id="prev-btn" class="nav-btn">&larr;</button>
    <img id="fullscreen-img" src="" alt="Photo">
    <p id="fullscreen-caption"></p>
    <button id="next-btn" class="nav-btn">&rarr;</button>
  </div>
</div>

{{ content }}

<div class="album-grid">
  {% for photo in page.photos %}
    <div class="album-grid-item" data-caption="{{ photo.title | xml_escape }}"
                                  data-url-id="{{ photo.url_id }}">
      <a href="#">
        <div class="album-grid-item-frame">
          <img src="/assets/img/photos/{{ photo.file | xml_escape }}" alt="{{ photo.title | xml_escape }}">
          <p class="album-grid-item-caption">{{ photo.title | xml_escape }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
