---
layout: default
---

<h2>{{ page.title }}</h2>

<div id="fullscreen-view" class="fullscreen">
  <div class="fullscreen-content">
    <button id="close-btn">&#10799;</button>
    <button id="prev-btn" class="nav-btn">&larr;</button>
    <img id="fullscreen-img" src="" alt="Photo">
    <p id="fullscreen-caption"></p>
    <button id="next-btn" class="nav-btn">&rarr;</button>
  </div>
</div>

{{ content }}

<div class="album-grid">
  {% for photo in page.photos %}
    <a href="#" class="album-grid-item" data-caption="{{ photo.details }}">
      <img src="/assets/img/photos/{{ photo.file }}" alt="{{ photo.title }}">
    </a>
  {% endfor %}
</div>
