<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} - Maximilian Götz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:site_name" content="Maximilian Götz">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }} - Maximilian Götz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <link rel="stylesheet" href="/assets/css/style.css?v=2">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml"
          title="Feed">
  </head>
  <body>
    <div id="main">
      <header>
        <h1>Maximilian Götz</h1>
        <h2>www.goetz.pro</h2>
        <hr>
      </header>

      <main>
        <h3>{{ page.title }}</h3>
        {{ content }}
        <hr>
      </main>

      <footer>
        <p>
          <a href="/feed.xml">Feed</a> &bull;
          <a href="https://www.instagram.com/mxg.ks/">Instagram</a> &bull;
          <a href="https://flickr.com/photos/im4x/">Flickr</a>
        </p>
        <p>&copy; 2018-2024 Maximilian Götz</p>
      </footer>
    </div>
  </body>
</html>
