<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} - Maximilian Götz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:site_name" content="Maximilian Götz">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }} - Maximilian Götz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image" content="{{ '/assets/img/og-image.jpg?v=2' | absolute_url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }} - Maximilian Götz">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ '/assets/img/twitter-image.jpg?v=2' | absolute_url }}">
    <meta property="twitter:domain" content="goetz.pro">
    <meta property="twitter:url" content="{{ page.url | absolute_url }}">
    <link rel="stylesheet" href="/assets/css/style.css?v=17">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml"
          title="Feed">
    <link rel="sitemap" type="application/xml" href="/sitemap.xml"
          title="Sitemap">
    <script src="/assets/js/main.js?v=7"></script>
  </head>
  <body>
    <div id="main">
      <header>
        <h1><a href="/">Maximilian Götz</a></h1>
        <h2><a href="/">www.goetz.pro</a></h2>
        <hr class="margin-sm">
        <nav>
          <a href="/">Home</a> &bull;
          <a href="/photos/">Photos</a> &bull;
          <a href="/articles/">Articles</a> &bull;
          <a href="/search/">Search</a>
        </nav>
        <hr class="margin-sm">
      </header>

      <div id="main-inner">
        <main>
          <noscript class="info">
            <img src="/assets/img/icon-error.png" alt="Error Icon" class="text-icon">
            <p>It appears your browser does not support JavaScript.</p>
            <p>
              Although JavaScript is not necessary for <i>absolutely all</i>
              pages on this website, many need it. If the page below is blank,
              missing something or some buttons don't work, reload the page
              after enabling JavaScript support.
            </p>
          </noscript>

          {{ content }}
        </main>

        <aside>
          <h3>About</h3>
          <img src="/assets/img/portrait2.jpg" alt="Me" id="portrait">
          This website serves as my place to share my photography and thoughts
          on things. <a href="/">Read more...</a>

          <h3>Search</h3>
          <form action="/search" method="GET">
            <input type="search" name="q" placeholder="Search">
          </form>

          <h3>Contact</h3>
          <a href="javascript:Helpers.sendMessage('TWF4aW1pbGlhbiBH9nR6IDxjb250YWN0QG1heGJpdHMubmV0Pg==',
                  'Hello!')" rel="nofollow">
            Mail
          </a>

          <h3>Recently...</h3>
          <ul>
            {% for post in site.posts limit:3 %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </aside>
      </div>
      <hr>

      <footer>
        <p>
          <a href="/feed.xml">Feed</a> &bull;
          <a href="https://www.instagram.com/mxg.ks/" rel="external">
            Instagram
          </a> &bull;
          <a href="https://flickr.com/photos/im4x/" rel="external">
            Flickr
          </a> &bull;
          <a href="https://github.com/ImMaax/" rel="external">GitHub</a>
        </p>
        <p>&copy; 2018-2024 Maximilian Götz</p>
      </footer>
    </div>
  </body>
</html>
